<!doctype html>
{% load static %}
<html prefix="og: http://ogp.me/ns#" lang="uz">
<head>
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="keywords"
          content="c++, cpp, python, piton, c#, csharp, pascal, pascalabc, javascript, nodejs, dasturlash, masalalar, tatu, dasturlashdan masalalar">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="kmBkzvBj7mwZT6aAo7vbFCVI8QimDVCjDHz1sSmd">
    <title>Problems - CodeQuest</title>
    <link rel='stylesheet' href="{% static '/css/assets/problems/problems.css' %}">
    <meta name='theme-color' content='#FFF'>

    <style>[wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid], [wire\:loading\.inline-flex] {
        display: none;
    }

    [wire\:loading\.delay\.shortest], [wire\:loading\.delay\.shorter], [wire\:loading\.delay\.short], [wire\:loading\.delay\.long], [wire\:loading\.delay\.longer], [wire\:loading\.delay\.longest] {
        display: none;
    }

    [wire\:offline] {
        display: none;
    }

    [wire\:dirty]:not(textarea):not(input):not(select) {
        display: none;
    }

    input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
        animation-duration: 50000s;
        animation-name: livewireautofill;
    }

    @keyframes livewireautofill {
        from {
        }
    }</style>


    <script>
        window._auth = false;
    </script>
</head>
<body>
<div id="app">
    <div class="container my-3">


        <div class="form-row">
            <div class="col-12 col-xl-2 col-md-3 col-sm-4 mb-3">
                <aside class="sidebar">
                    <section>
                        <span class="d-inline d-sm-none pull-right ml-1" id='message'><i class="fa fa-bars"></i></span>


                    </section>



                </aside>
            </div>

            <div class="col-12 col-xl-10 col-md-9 col-sm-8">
                <header class="d-sm-none d-block">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">

                            <li class="breadcrumb-item"><a href="https://robocontest.uz">Bosh sahifa</a></li>


                            <li class="breadcrumb-item active" aria-current="page">Masalalar</li>

                        </ol>
                    </nav>

                </header>


                <main>
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <form action="https://robocontest.uz/tasks" method="get" id="search_form">
                                        <div class="m-2">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search..."
                                                       value="" name="search">

                                                <div class="input-group-added">
                                                    <select class="custom-select border-left-0" style="border-radius: 0"
                                                            name="category">
                                                        <option value="">Barcha toifalar</option>

                                                        <option value="1"
                                                        >
                                                            Oson
                                                        </option>
                                                        <option value="2"
                                                        >
                                                            Uzun sonlar arifmetikasi
                                                        </option>
                                                        <option value="3"
                                                        >
                                                            Dinamik dasturlash
                                                        </option>
                                                        <option value="4"
                                                        >
                                                            Sonlar nazariyasi
                                                        </option>
                                                        <option value="5"
                                                        >
                                                            Binar daraxt
                                                        </option>
                                                        <option value="6"
                                                        >
                                                            Binar qidiruv
                                                        </option>
                                                        <option value="7"
                                                        >
                                                            Matematika
                                                        </option>
                                                        <option value="8"
                                                        >
                                                            Perebor
                                                        </option>
                                                        <option value="9"
                                                        >
                                                            Tartiblash
                                                        </option>
                                                        <option value="10"
                                                        >
                                                            Heap Sort
                                                        </option>
                                                        <option value="11"
                                                        >
                                                            Ochko&#039;z algoritm
                                                        </option>
                                                        <option value="12"
                                                        >
                                                            Massivlar
                                                        </option>
                                                        <option value="13"
                                                        >
                                                            Rekursiya
                                                        </option>
                                                        <option value="15"
                                                        >
                                                            Graflar nazariyasi
                                                        </option>
                                                        <option value="16"
                                                        >
                                                            String
                                                        </option>
                                                        <option value="17"
                                                        >
                                                            Hash Table
                                                        </option>
                                                        <option value="18"
                                                        >
                                                            Depth-First Search
                                                        </option>
                                                        <option value="19"
                                                        >
                                                            Database
                                                        </option>
                                                        <option value="20"
                                                        >
                                                            Breadth-First Search
                                                        </option>
                                                        <option value="21"
                                                        >
                                                            Tree
                                                        </option>
                                                        <option value="22"
                                                        >
                                                            Matrix
                                                        </option>
                                                        <option value="23"
                                                        >
                                                            Two Pointers
                                                        </option>
                                                        <option value="24"
                                                        >
                                                            Bit Manipulation
                                                        </option>
                                                        <option value="25"
                                                        >
                                                            Stack
                                                        </option>
                                                        <option value="26"
                                                        >
                                                            Design
                                                        </option>
                                                        <option value="27"
                                                        >
                                                            Heap (Priority Queue)
                                                        </option>
                                                        <option value="28"
                                                        >
                                                            Simulation
                                                        </option>
                                                        <option value="29"
                                                        >
                                                            Backtracking
                                                        </option>
                                                        <option value="30"
                                                        >
                                                            Prefix Sum
                                                        </option>
                                                        <option value="31"
                                                        >
                                                            Counting
                                                        </option>
                                                        <option value="32"
                                                        >
                                                            Sliding Window
                                                        </option>
                                                        <option value="33"
                                                        >
                                                            Linked List
                                                        </option>
                                                        <option value="34"
                                                        >
                                                            Union Find
                                                        </option>
                                                        <option value="35"
                                                        >
                                                            Ordered Set
                                                        </option>
                                                        <option value="36"
                                                        >
                                                            Monotonic Stack
                                                        </option>
                                                        <option value="37"
                                                        >
                                                            Trie
                                                        </option>
                                                        <option value="38"
                                                        >
                                                            Binary Search Tree
                                                        </option>
                                                        <option value="39"
                                                        >
                                                            Divide and Conquer
                                                        </option>
                                                        <option value="40"
                                                        >
                                                            Bitmask
                                                        </option>
                                                        <option value="41"
                                                        >
                                                            Queue
                                                        </option>
                                                        <option value="42"
                                                        >
                                                            Geometry
                                                        </option>
                                                        <option value="43"
                                                        >
                                                            Memoization
                                                        </option>
                                                        <option value="44"
                                                        >
                                                            Segment Tree
                                                        </option>
                                                        <option value="45"
                                                        >
                                                            Topological Sort
                                                        </option>
                                                        <option value="46"
                                                        >
                                                            Game Theory
                                                        </option>
                                                        <option value="47"
                                                        >
                                                            Hash Function
                                                        </option>
                                                        <option value="48"
                                                        >
                                                            Binary Indexed Tree
                                                        </option>
                                                        <option value="49"
                                                        >
                                                            Interactive
                                                        </option>
                                                        <option value="50"
                                                        >
                                                            String Matching
                                                        </option>
                                                        <option value="51"
                                                        >
                                                            Rolling Hash
                                                        </option>
                                                        <option value="52"
                                                        >
                                                            Shortest Path
                                                        </option>
                                                        <option value="53"
                                                        >
                                                            Data Stream
                                                        </option>
                                                        <option value="54"
                                                        >
                                                            Combinatorics
                                                        </option>
                                                        <option value="55"
                                                        >
                                                            Randomized
                                                        </option>
                                                        <option value="56"
                                                        >
                                                            Monotonic Queue
                                                        </option>
                                                        <option value="57"
                                                        >
                                                            Iterator
                                                        </option>
                                                        <option value="58"
                                                        >
                                                            Merge Sort
                                                        </option>
                                                        <option value="59"
                                                        >
                                                            Concurrency
                                                        </option>
                                                        <option value="60"
                                                        >
                                                            Doubly-Linked List
                                                        </option>
                                                        <option value="61"
                                                        >
                                                            Brainteaser
                                                        </option>
                                                        <option value="62"
                                                        >
                                                            Probability and Statistics
                                                        </option>
                                                        <option value="63"
                                                        >
                                                            Quickselect
                                                        </option>
                                                        <option value="64"
                                                        >
                                                            Bucket Sort
                                                        </option>
                                                        <option value="65"
                                                        >
                                                            Suffix Array
                                                        </option>
                                                        <option value="66"
                                                        >
                                                            Minimum Spanning Tree
                                                        </option>
                                                        <option value="67"
                                                        >
                                                            Counting Sort
                                                        </option>
                                                        <option value="68"
                                                        >
                                                            Shell
                                                        </option>
                                                        <option value="69"
                                                        >
                                                            Line Sweep
                                                        </option>
                                                        <option value="70"
                                                        >
                                                            Reservoir Sampling
                                                        </option>
                                                        <option value="71"
                                                        >
                                                            Eulerian Circuit
                                                        </option>
                                                        <option value="72"
                                                        >
                                                            Strongly Connected Component
                                                        </option>
                                                        <option value="73"
                                                        >
                                                            Radix Sort
                                                        </option>
                                                        <option value="74"
                                                        >
                                                            Rejection Sampling
                                                        </option>
                                                        <option value="75"
                                                        >
                                                            Biconnected Component
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="submit" id="search"><i
                                                            class="fas fa-search"></i> Search
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>

                            <div class="table-responsive mb-0">
                                <table class="table table-hover m-0 table-borderless table-striped text-left slim-table">
                                    <tr>
                                        <th style="width: 140px;"><a
                                                href="https://robocontest.uz/tasks?sort=number&direction=desc">#
                                             <i class="fa fa-sort"></i></a></th>
                                        <th class="text-center"></th>
                                        <th>Title</th>
                                        <th style="width: 110px;" class="text-center"><a
                                                href="https://robocontest.uz/tasks?sort=complexity&direction=desc">Acceptance
                                            <i class="fa fa-sort"></i></a></th>
                                        <th>Difficulty</th>
                                        <th class="text-center"><a
                                                href="https://robocontest.uz/tasks?sort=rating&direction=desc"><i
                                                class="fa fa-star text-warning"></i> <i class="fa fa-sort"></i></a></th>
                                        <th class="text-center"><a
                                                href="https://robocontest.uz/tasks?sort=solved_users&direction=desc"><i
                                                class="fa fa-user-check"></i> <i class="fa fa-sort"></i></a></th>
                                        <th class="text-center"><a
                                                href="https://robocontest.uz/tasks?sort=accepted&direction=desc"><i
                                                class="fa fa-check-square"></i> <i class="fa fa-sort"></i></a></th>
                                        <th class="text-center"><a
                                                href="https://robocontest.uz/tasks?sort=total&direction=desc"><i
                                                class="fab fa-strava"></i> <i class="fa fa-sort"></i></a></th>
                                        <th class="text-center"><a
                                                href="https://robocontest.uz/tasks?sort=percentage&direction=desc"><i
                                                class="fa fa-percentage"></i> <i class="fa fa-sort"></i></a></th>
                                    </tr>
                                    {% for problem in problems %}
                                    <tr>
                                        <td><a href="https://robocontest.uz/tasks/0001">{{ problem.id }}</a></td>
                                        <th class="text-center">
                                            <a href="https://robocontest.uz/tasks/0001/solution">
                                                <i class="fa fa-play-circle"></i>
                                            </a>
                                        </th>
                                        <td><a href="https://robocontest.uz/tasks/0001">{{ problem.title }}</a></td>
                                        <td class="text-center">{{ problem.acceptance }}</td>
                                        <td>

                                            <a href='https://robocontest.uz/tasks?category=1'>{{ problem.type }}</a>
                                        </td>
                                        <td class="text-center" nowrap><i class="fa fa-star text-warning"></i> 3.6
                                        </td>
                                        <td class="text-center">19665</td>
                                        <td class="text-center">38143</td>
                                        <td class="text-center">109960</td>
                                        <td class="text-center">34.7</td>


                                    </tr>
                                    {% endfor %}
                                </table>

                                <div class="d-flex mt-3">
                                    <div class="mx-auto">
                                        <nav>
                                            <ul class="pagination">

                                                <li class="page-item disabled" aria-disabled="true"
                                                    aria-label="&laquo; Previous">
                                                    <span class="page-link" aria-hidden="true">&lsaquo;</span>
                                                </li>


                                                <li class="page-item active" aria-current="page"><span
                                                        class="page-link">1</span></li>
                                                <li class="page-item"><a class="page-link"
                                                                         href="https://robocontest.uz/tasks?page=2">2</a>
                                                </li>
                                                <li class="page-item"><a class="page-link"
                                                                         href="https://robocontest.uz/tasks?page=3">3</a>
                                                </li>
                                                <li class="page-item"><a class="page-link"
                                                                         href="https://robocontest.uz/tasks?page=4">4</a>
                                                </li>
                                                <li class="page-item"><a class="page-link"
                                                                         href="https://robocontest.uz/tasks?page=5">5</a>
                                                </li>
                                                <li class="page-item"><a class="page-link"
                                                                         href="https://robocontest.uz/tasks?page=6">6</a>
                                                </li>
                                                <li class="page-item"><a class="page-link"
                                                                         href="https://robocontest.uz/tasks?page=7">7</a>
                                                </li>
                                                <li class="page-item"><a class="page-link"
                                                                         href="https://robocontest.uz/tasks?page=8">8</a>
                                                </li>
                                                <li class="page-item"><a class="page-link"
                                                                         href="https://robocontest.uz/tasks?page=9">9</a>
                                                </li>
                                                <li class="page-item"><a class="page-link"
                                                                         href="https://robocontest.uz/tasks?page=10">10</a>
                                                </li>

                                                <li class="page-item disabled" aria-disabled="true"><span
                                                        class="page-link">...</span></li>


                                                <li class="page-item"><a class="page-link"
                                                                         href="https://robocontest.uz/tasks?page=58">58</a>
                                                </li>
                                                <li class="page-item"><a class="page-link"
                                                                         href="https://robocontest.uz/tasks?page=59">59</a>
                                                </li>


                                                <li class="page-item">
                                                    <a class="page-link" href="https://robocontest.uz/tasks?page=2"
                                                       rel="next" aria-label="Next &raquo;">&rsaquo;</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
            </div>


        </div>
    </div>
</div>

<div id="snow"></div>

<link media="all" type="text/css" rel="stylesheet" href="https://robocontest.uz/assets/css/codemirror.css"/>
<link media="all" type="text/css" rel="stylesheet" href="https://robocontest.uz/assets/css/monokai.min.css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/katex.min.css"
      integrity="sha512-07YhC3P4/vS5HdgGuNAAeIxb5ee//efgRNo5AGdMtqFBUPYOdQG/sDK0Nl5qNq94kdEk/Pvu8pmN4GYUeucUkw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/katex.min.js"
        integrity="sha512-aMDiFsrEV3KzAn9EHwyBRS7y1APjZWt/Z/73ukLN2Ca2KcGGzlOQFQSnfOdnEcehpwMaQ8edlDB/0cMX2GsHbg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/contrib/auto-render.min.js"
        integrity="sha512-ZA/RPrAo88DlwRnnoNVqKINnQNcWERzRK03PDaA4GIJiVZvGFIWQbdWCsUebMZfkWohnfngsDjXzU6PokO4jGw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" onload="renderMathInElement(document.body);"></script>

<!-- Scripts -->
<script src="/js/vue-app.js?id=79abe5d8c6648befc6239c903505680d"></script>
<script src="/js/codemirror.js?id=f58439ed2248f6a7512ac10ad253dfb6"></script>
<script src="/vendor/livewire/livewire.js?id=90730a3b0e7144480175" data-turbo-eval="false"
        data-turbolinks-eval="false"></script>
<script data-turbo-eval="false" data-turbolinks-eval="false">window.livewire = new Livewire();
window.Livewire = window.livewire;
window.livewire_app_url = '';
window.livewire_token = 'kmBkzvBj7mwZT6aAo7vbFCVI8QimDVCjDHz1sSmd';
window.deferLoadingAlpine = function (callback) {
    window.addEventListener('livewire:load', function () {
        callback();
    });
};
let started = false;
window.addEventListener('alpine:initializing', function () {
    if (!started) {
        window.livewire.start();
        started = true;
    }
});
document.addEventListener("DOMContentLoaded", function () {
    if (!started) {
        window.livewire.start();
        started = true;
    }
});</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63170220-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-63170220-4');

    (function checkIfAnalyticsLoaded() {
        try {
            ga('set', 'lang', 'uz');
        } catch {
            setTimeout(checkIfAnalyticsLoaded, 500);
        }
    })()
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86449341, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/86449341" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->


<script>
    $.fn.select2.defaults.set("theme", "bootstrap4");
</script>
<script>
    /**
     * @param {HTMLSpanElement} $this
     */
    function favorite($this) {
        let favorite = $this.dataset.favorite === '0';
        let task = $this.dataset.task;

        window.api.favorite(task, favorite).then(function (result) {
            if (result === true) {
                $this.innerHTML = '<i class="fa fa-star text-danger"></i>';
                $this.dataset.favorite = '1';
            } else if (result === false) {
                $this.innerHTML = '<i class="far fa-star text-danger"></i>';
                $this.dataset.favorite = '0';
            }
        });
    }
</script>

<style>
    span[data-favorite] {
        cursor: pointer;
    }
</style>
<script>
    $('#message').on('click', (e) => {
        $('#sidebar').toggleClass('d-none')
    });

    $('.robocontest').on('click', (e) => {
        window.location.href = 'https://robocontest.uz'
    });

    $('#logout').on('click', (e) => {
        event.preventDefault();
        document.getElementById('logout-form').submit();
    });
</script>
<script>

    $("#code_file").on('change', async (event) => {
        const file = event.target.files.item(0)
        const code = await file.text()

        $(event.target).parents('form').find('#code')[0].nextSibling.CodeMirror.setValue(code)
    })
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


</body>
</html>
