<!doctype html>
{% load static %}
<html prefix="og: http://ogp.me/ns#" lang="uz">
<head>
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="keywords"
          content="c++, cpp, python, piton, c#, csharp, pascal, pascalabc, javascript, nodejs, dasturlash, masalalar, tatu, dasturlashdan masalalar">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="kmBkzvBj7mwZT6aAo7vbFCVI8QimDVCjDHz1sSmd">
    <title>Problems - CodeQuest</title>
    <link rel='stylesheet' href="{% static '/css/assets/problems/problems.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name='theme-color' content='#FFF'>

    <style>[wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid], [wire\:loading\.inline-flex] {
        display: none;
    }

    [wire\:loading\.delay\.shortest], [wire\:loading\.delay\.shorter], [wire\:loading\.delay\.short], [wire\:loading\.delay\.long], [wire\:loading\.delay\.longer], [wire\:loading\.delay\.longest] {
        display: none;
    }

    [wire\:offline] {
        display: none;
    }

    [wire\:dirty]:not(textarea):not(input):not(select) {
        display: none;
    }

    input:-webkit-autofill, select:-webkit-autofill, textarea:-webkit-autofill {
        animation-duration: 50000s;
        animation-name: livewireautofill;
    }

    @keyframes livewireautofill {
        from {
        }
    }</style>


    <script>
        window._auth = false;
    </script>
</head>
<body>
<div id="app">
    <div class="container my-3">


        <div class="form-row">
            <div class="col-12 col-xl-2 col-md-3 col-sm-4 mb-3">
                <aside class="sidebar">
                    <section>
                        <span class="d-inline d-sm-none pull-right ml-1" id='message'><i class="fa fa-bars"></i></span>


                    </section>



                </aside>
            </div>

            <div class="col-12 col-xl-10 col-md-9 col-sm-8">
                <header class="d-sm-none d-block">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">

                            <li class="breadcrumb-item"><a href="https://robocontest.uz">Bosh sahifa</a></li>


                            <li class="breadcrumb-item active" aria-current="page">Masalalar</li>

                        </ol>
                    </nav>

                </header>


                <main>
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <form action="https://robocontest.uz/tasks" method="get" id="search_form">
                                        <div class="m-2">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search..."
                                                       value="" name="search">



                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="submit" id="search"><i
                                                            class="fas fa-search"></i> Search
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>

                            <div class="table-responsive mb-0">

                                <table class="table table-hover m-0 table-borderless table-striped text-left slim-table">
                                    <tr>
                                        <th style="width: 140px;"><a
                                                href="https://robocontest.uz/tasks?sort=number&direction=desc">#
                                             </a></th>
                                        <th class="text-center"></th>
                                        <th>Title</th>
                                        <th style="width: 110px;" class="text-center"><a
                                                href="https://robocontest.uz/tasks?sort=complexity&direction=desc">Acceptance
                                            </a></th>
                                        <th>Difficulty</th>
{#                                        <th class="text-center"><a#}
{#                                                href="https://robocontest.uz/tasks?sort=rating&direction=desc"></th>#}
{#                                        <th class="text-center"><a#}
{#                                                href="https://robocontest.uz/tasks?sort=solved_users&direction=desc"><i#}
{#                                                class="fa fa-user-check"></i> </a></th>#}

                                        <th>Solved</th>


                                    </tr>
                                    {% for problem in problems %}

                                    <tr>
                                        <td><a href="{% url 'problem' problem.id %}">{{ problem.id }}</a></td>
                                        <th class="text-center">
                                        </th>
                                        <td><a href="{% url 'problem' problem.id %}">{{ problem.title }}</a></td>

                                        <td class="text-center">{{ problem.submission.count }}</td>
                                        <td>

                                            <a href='{% url 'problem' problem.id %}'>{{ problem.type }}</a>
                                        </td>
                                        {% for submission in submissions %}
                                     {% if problem.id == submission.id and request.user == submission.user %}
                                         <td><i  class="fa-solid fa-check"></i></td>
                                     {% endif %}
                                     {% endfor %}




                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                </main>
            </div>


        </div>
    </div>
</div>

<div id="snow"></div>

<link media="all" type="text/css" rel="stylesheet" href="https://robocontest.uz/assets/css/codemirror.css"/>
<link media="all" type="text/css" rel="stylesheet" href="https://robocontest.uz/assets/css/monokai.min.css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/katex.min.css"
      integrity="sha512-07YhC3P4/vS5HdgGuNAAeIxb5ee//efgRNo5AGdMtqFBUPYOdQG/sDK0Nl5qNq94kdEk/Pvu8pmN4GYUeucUkw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/katex.min.js"
        integrity="sha512-aMDiFsrEV3KzAn9EHwyBRS7y1APjZWt/Z/73ukLN2Ca2KcGGzlOQFQSnfOdnEcehpwMaQ8edlDB/0cMX2GsHbg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/contrib/auto-render.min.js"
        integrity="sha512-ZA/RPrAo88DlwRnnoNVqKINnQNcWERzRK03PDaA4GIJiVZvGFIWQbdWCsUebMZfkWohnfngsDjXzU6PokO4jGw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" onload="renderMathInElement(document.body);"></script>

<!-- Scripts -->
<script src="/js/vue-app.js?id=79abe5d8c6648befc6239c903505680d"></script>
<script src="/js/codemirror.js?id=f58439ed2248f6a7512ac10ad253dfb6"></script>
<script src="/vendor/livewire/livewire.js?id=90730a3b0e7144480175" data-turbo-eval="false"
        data-turbolinks-eval="false"></script>
<script data-turbo-eval="false" data-turbolinks-eval="false">window.livewire = new Livewire();
window.Livewire = window.livewire;
window.livewire_app_url = '';
window.livewire_token = 'kmBkzvBj7mwZT6aAo7vbFCVI8QimDVCjDHz1sSmd';
window.deferLoadingAlpine = function (callback) {
    window.addEventListener('livewire:load', function () {
        callback();
    });
};
let started = false;
window.addEventListener('alpine:initializing', function () {
    if (!started) {
        window.livewire.start();
        started = true;
    }
});
document.addEventListener("DOMContentLoaded", function () {
    if (!started) {
        window.livewire.start();
        started = true;
    }
});</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63170220-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-63170220-4');

    (function checkIfAnalyticsLoaded() {
        try {
            ga('set', 'lang', 'uz');
        } catch {
            setTimeout(checkIfAnalyticsLoaded, 500);
        }
    })()
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86449341, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/86449341" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->


<script>
    $.fn.select2.defaults.set("theme", "bootstrap4");
</script>
<script>
    /**
     * @param {HTMLSpanElement} $this
     */
    function favorite($this) {
        let favorite = $this.dataset.favorite === '0';
        let task = $this.dataset.task;

        window.api.favorite(task, favorite).then(function (result) {
            if (result === true) {
                $this.innerHTML = '<i class="fa fa-star text-danger"></i>';
                $this.dataset.favorite = '1';
            } else if (result === false) {
                $this.innerHTML = '<i class="far fa-star text-danger"></i>';
                $this.dataset.favorite = '0';
            }
        });
    }
</script>

<style>
    span[data-favorite] {
        cursor: pointer;
    }
</style>
<script>
    $('#message').on('click', (e) => {
        $('#sidebar').toggleClass('d-none')
    });

    $('.robocontest').on('click', (e) => {
        window.location.href = 'https://robocontest.uz'
    });

    $('#logout').on('click', (e) => {
        event.preventDefault();
        document.getElementById('logout-form').submit();
    });
</script>
<script>

    $("#code_file").on('change', async (event) => {
        const file = event.target.files.item(0)
        const code = await file.text()

        $(event.target).parents('form').find('#code')[0].nextSibling.CodeMirror.setValue(code)
    })
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


</body>
</html>
