<div class="flex h-full w-full overflow-y-auto rounded-b">
    <div class="flex h-full w-full !min-w-[585px] flex-col overflow-auto">
        <div class="flex flex-col gap-6 px-5 pt-6">
            <div class="flex flex-col gap-4">
                <div class="flex items-center gap-4">
                    <div class="text-green-s dark:text-dark-green-s flex flex-1 items-center gap-2 text-[16px] font-medium leading-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"
                             fill="currentColor" class="h-5 w-5">
                            <path fill-rule="evenodd"
                                  d="M20 12.005v-.828a1 1 0 112 0v.829a10 10 0 11-5.93-9.14 1 1 0 01-.814 1.826A8 8 0 1020 12.005zM8.593 10.852a1 1 0 011.414 0L12 12.844l8.293-8.3a1 1 0 011.415 1.413l-9 9.009a1 1 0 01-1.415 0l-2.7-2.7a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span data-e2e-locator="submission-result">Accepted</span></div>
                    <a href="/problems/build-array-from-permutation/editorial?source=submission-ac">
                        <button class="whitespace-nowrap focus:outline-none bg-fill-3 dark:bg-dark-fill-3 hover:bg-fill-2 dark:hover:bg-dark-fill-2 flex items-center justify-center gap-1 rounded px-3 py-1 text-xs font-medium leading-[16px] text-brand-orange dark:text-dark-brand-orange">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"
                                 fill="currentColor" class="mr-1 h-3.5 w-3.5">
                                <path fill-rule="evenodd"
                                      d="M11 20c0-.918-.758-1.667-1.7-1.667H3a1 1 0 01-1-1V4a1 1 0 011-1h5.4A4.61 4.61 0 0112 4.72 4.61 4.61 0 0115.6 3H21a1 1 0 011 1v13.333a1 1 0 01-1 1h-6.3c-.942 0-1.7.75-1.7 1.667 0 1.333-2 1.333-2 0zm2-12.444v9.186a3.712 3.712 0 011.7-.409H20V5h-4.4C14.161 5 13 6.147 13 7.556zm-2 0C11 6.147 9.839 5 8.4 5H4v11.333h5.3c.613 0 1.19.148 1.7.41V7.556z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            Editorial
                        </button>
                    </a><a href="/problems/build-array-from-permutation/post-solution?submissionId=1004126879"
                           target="_blank" rel="noreferrer">
                    <button class="whitespace-nowrap focus:outline-none text-label-r bg-green-s dark:bg-dark-green-s hover:bg-green-3 dark:hover:bg-dark-green-3 flex items-center justify-center gap-1 rounded px-3 py-1 text-xs font-medium leading-[16px]">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"
                             fill="currentColor" class="h-4 w-4">
                            <path fill-rule="evenodd"
                                  d="M13 11h7a1 1 0 110 2h-7v7a1 1 0 11-2 0v-7H4a1 1 0 110-2h7V4a1 1 0 112 0v7z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        Solution
                    </button>
                </a></div>
                <div class="flex w-full gap-4">
                    <div class="w-1/2">
                        <div class="flex flex-col rounded-lg border p-4 text-xs border-divider-3 dark:border-dark-divider-3">
                            <div class="flex">
                                <div class="flex-1 text-sm leading-[22px] text-label-2 dark:text-dark-label-2">Runtime
                                </div>
                                <a class="text-label-3 dark:text-dark-label-3 text-xs leading-[20px] hover:text-label-2 dark:hover:text-dark-label-2">Details</a>
                            </div>
                            <div class="mt-3"><span
                                    class="mr-1 text-lg font-semibold leading-[22px] text-label-1 dark:text-dark-label-1">121</span><span
                                    class="text-xs leading-[20px] text-label-2 dark:text-dark-label-2">ms</span></div>
                            <div class="mt-2"><span class="mr-1.5 font-medium text-green-s dark:text-dark-green-s">Beats 96.63%</span><span>of users with Python3</span>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2">
                        <div class="flex flex-col rounded-lg border p-4 text-xs border-divider-3 dark:border-dark-divider-3">
                            <div class="flex">
                                <div class="flex-1 text-sm leading-[22px] text-label-2 dark:text-dark-label-2">Memory
                                </div>
                                <a class="text-label-3 dark:text-dark-label-3 text-xs leading-[20px] hover:text-label-2 dark:hover:text-dark-label-2">Details</a>
                            </div>
                            <div class="mt-3"><span
                                    class="mr-1 text-lg font-semibold leading-[22px] text-label-1 dark:text-dark-label-1">16.48</span><span
                                    class="text-xs leading-[20px] text-label-2 dark:text-dark-label-2">mb</span></div>
                            <div class="mt-2"><span class="mr-1.5 font-medium text-green-s dark:text-dark-green-s">Beats 92.67%</span><span>of users with Python3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-start gap-3">
                    <div class="text-label-3 dark:text-dark-label-3 text-md font-medium">Next question</div>
                    <a class="no-underline bg-fill-3 dark:bg-dark-fill-3 hover:bg-fill-2 dark:hover:bg-dark-fill-2 text-label-1 dark:text-dark-label-1 hover:text-label-1 dark:hover:text-dark-label-1 flex items-center gap-2 rounded py-1 px-3 text-md font-medium"
                       href="/problems/two-sum/">
                        <div class="h-[5px] w-[5px] rounded-full bg-olive dark:bg-dark-olive"></div>
                        1. Two Sum</a></div>
                <div class="flex flex-col gap-3 mt-2">
                    <div class="text-label-3 dark:text-dark-label-3 text-md font-medium">More challenges</div>
                    <div class="flex flex-wrap gap-3"><a target="_blank" rel="noopener noreferrer"
                                                         class="no-underline bg-fill-3 dark:bg-dark-fill-3 hover:bg-fill-2 dark:hover:bg-dark-fill-2 text-label-1 dark:text-dark-label-1 hover:text-label-1 dark:hover:text-dark-label-1 flex items-center gap-2 rounded py-1 px-3 text-md font-medium"
                                                         href="/problems/candy/description/">
                        <div class="h-[5px] w-[5px] rounded-full bg-pink dark:bg-dark-pink"></div>
                        135. Candy</a><a target="_blank" rel="noopener noreferrer"
                                         class="no-underline bg-fill-3 dark:bg-dark-fill-3 hover:bg-fill-2 dark:hover:bg-dark-fill-2 text-label-1 dark:text-dark-label-1 hover:text-label-1 dark:hover:text-dark-label-1 flex items-center gap-2 rounded py-1 px-3 text-md font-medium"
                                         href="/problems/best-poker-hand/description/">
                        <div class="h-[5px] w-[5px] rounded-full bg-olive dark:bg-dark-olive"></div>
                        2347. Best Poker Hand</a><a target="_blank" rel="noopener noreferrer"
                                                    class="no-underline bg-fill-3 dark:bg-dark-fill-3 hover:bg-fill-2 dark:hover:bg-dark-fill-2 text-label-1 dark:text-dark-label-1 hover:text-label-1 dark:hover:text-dark-label-1 flex items-center gap-2 rounded py-1 px-3 text-md font-medium"
                                                    href="/problems/minimize-malware-spread/description/">
                        <div class="h-[5px] w-[5px] rounded-full bg-pink dark:bg-dark-pink"></div>
                        924. Minimize Malware Spread</a></div>
                </div>
            </div>
            <hr class="border-divider-3 dark:border-dark-divider-3">
        </div>
        <div class="sticky top-0 w-full bg-layer-1 dark:bg-dark-layer-1">
            <div class="mx-3 flex px-4 pt-5 pb-3">
                <div class="relative w-[200px]" data-headlessui-state="">
                    <div>
                        <button class="group flex w-full items-center outline-0 transition-colors duration-300 focus:bg-transparent text-label-3 dark:text-dark-label-3 hover:text-label-1 dark:hover:text-dark-label-1 rounded-lg"
                                id="headlessui-menu-button-:r2n:" type="button" aria-haspopup="true"
                                aria-expanded="false" data-headlessui-state="">All statuses
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"
                                 fill="currentColor"
                                 class="pointer-events-none transition duration-300 text-label-3 dark:text-dark-label-3 ml-1 h-4 w-4 group-hover:text-label-1 dark:group-hover:text-dark-label-1"
                                 aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M16.293 9.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 011.414-1.414L12 13.586l4.293-4.293z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="relative w-[140px]" data-headlessui-state="">
                    <div>
                        <button class="group flex w-full items-center outline-0 transition-colors duration-300 focus:bg-transparent text-label-3 dark:text-dark-label-3 hover:text-label-1 dark:hover:text-dark-label-1 rounded-lg"
                                id="headlessui-menu-button-:r2o:" type="button" aria-haspopup="true"
                                aria-expanded="false" data-headlessui-state="">All languages
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"
                                 fill="currentColor"
                                 class="pointer-events-none transition duration-300 text-label-3 dark:text-dark-label-3 ml-1 h-4 w-4 group-hover:text-label-1 dark:group-hover:text-dark-label-1"
                                 aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M16.293 9.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 011.414-1.414L12 13.586l4.293-4.293z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="w-[140px] text-label-3 dark:text-dark-label-3">Time</div>
            </div>
            <hr class="border-divider-2 dark:border-dark-divider-2 mx-4">
        </div>
        <div class="h-full px-4">
            <div class="group flex h-[40px] cursor-pointer items-center justify-between rounded-lg py-[9px] px-3 transition-colors hover:bg-fill-3 dark:hover:bg-dark-fill-3 max-w-[585px]">
                <div class="flex h-full w-full max-w-full flex-shrink-0 items-center">
                    <div class="flex w-[200px] flex-shrink-0 flex-col justify-between">
                        <div class="flex items-center gap-1.5">
                            <div class="truncate text-green-s dark:text-dark-green-s"><span
                                    class="text-green-s dark:text-dark-green-s text-[14px] font-medium">Accepted</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex w-[140px] flex-shrink-0 items-center text-label-2 dark:text-dark-label-2">Python3
                    </div>
                    <div class="flex w-[140px] flex-shrink-0 items-center"><span
                            class="text-sm text-label-2 dark:text-dark-label-2">a minute ago</span></div>
                    <div class="hidden w-full flex-1 items-center justify-end space-x-2 whitespace-nowrap group-hover:flex text-blue-s dark:text-dark-blue-s"
                         style="max-width: 585px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M13 11h7a1 1 0 110 2h-7v7a1 1 0 11-2 0v-7H4a1 1 0 110-2h7V4a1 1 0 112 0v7z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span>Notes</span></div>
                </div>
            </div>
            <div class="group flex h-[40px] cursor-pointer items-center justify-between rounded-lg py-[9px] px-3 transition-colors hover:bg-fill-3 dark:hover:bg-dark-fill-3 max-w-[585px] bg-fill-4 dark:bg-dark-fill-4">
                <div class="flex h-full w-full max-w-full flex-shrink-0 items-center">
                    <div class="flex w-[200px] flex-shrink-0 flex-col justify-between">
                        <div class="flex items-center gap-1.5">
                            <div class="truncate text-green-s dark:text-dark-green-s"><span
                                    class="text-green-s dark:text-dark-green-s text-[14px] font-medium">Accepted</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex w-[140px] flex-shrink-0 items-center text-label-2 dark:text-dark-label-2">Python3
                    </div>
                    <div class="flex w-[140px] flex-shrink-0 items-center"><span
                            class="text-sm text-label-2 dark:text-dark-label-2">Jul 06, 2023</span></div>
                    <div class="hidden w-full flex-1 items-center justify-end space-x-2 whitespace-nowrap group-hover:flex text-blue-s dark:text-dark-blue-s"
                         style="max-width: 585px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M13 11h7a1 1 0 110 2h-7v7a1 1 0 11-2 0v-7H4a1 1 0 110-2h7V4a1 1 0 112 0v7z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span>Notes</span></div>
                </div>
            </div>
            <div class="group flex h-[40px] cursor-pointer items-center justify-between rounded-lg py-[9px] px-3 transition-colors hover:bg-fill-3 dark:hover:bg-dark-fill-3 max-w-[585px]">
                <div class="flex h-full w-full max-w-full flex-shrink-0 items-center">
                    <div class="flex w-[200px] flex-shrink-0 flex-col justify-between">
                        <div class="flex items-center gap-1.5">
                            <div class="truncate text-green-s dark:text-dark-green-s"><span
                                    class="text-green-s dark:text-dark-green-s text-[14px] font-medium">Accepted</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex w-[140px] flex-shrink-0 items-center text-label-2 dark:text-dark-label-2">Python3
                    </div>
                    <div class="flex w-[140px] flex-shrink-0 items-center"><span
                            class="text-sm text-label-2 dark:text-dark-label-2">Jul 06, 2023</span></div>
                    <div class="hidden w-full flex-1 items-center justify-end space-x-2 whitespace-nowrap group-hover:flex text-blue-s dark:text-dark-blue-s"
                         style="max-width: 585px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M13 11h7a1 1 0 110 2h-7v7a1 1 0 11-2 0v-7H4a1 1 0 110-2h7V4a1 1 0 112 0v7z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span>Notes</span></div>
                </div>
            </div>
            <div class="group flex h-[40px] cursor-pointer items-center justify-between rounded-lg py-[9px] px-3 transition-colors hover:bg-fill-3 dark:hover:bg-dark-fill-3 max-w-[585px] bg-fill-4 dark:bg-dark-fill-4">
                <div class="flex h-full w-full max-w-full flex-shrink-0 items-center">
                    <div class="flex w-[200px] flex-shrink-0 flex-col justify-between">
                        <div class="flex items-center gap-1.5">
                            <div class="truncate text-green-s dark:text-dark-green-s"><span
                                    class="text-green-s dark:text-dark-green-s text-[14px] font-medium">Accepted</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex w-[140px] flex-shrink-0 items-center text-label-2 dark:text-dark-label-2">Python3
                    </div>
                    <div class="flex w-[140px] flex-shrink-0 items-center"><span
                            class="text-sm text-label-2 dark:text-dark-label-2">Nov 06, 2022</span></div>
                    <div class="hidden w-full flex-1 items-center justify-end space-x-2 whitespace-nowrap group-hover:flex text-blue-s dark:text-dark-blue-s"
                         style="max-width: 585px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M13 11h7a1 1 0 110 2h-7v7a1 1 0 11-2 0v-7H4a1 1 0 110-2h7V4a1 1 0 112 0v7z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span>Notes</span></div>
                </div>
            </div>
            <div class="h-[1px] w-full"></div>
        </div>
    </div>
</div>